<!-- app.component.html -->
<div class="container-fluid bg-overlay">
    <div class="row justify-content-center">
      <h1 class="text-center text-white mt-5">MONTY HALL SIMULATION</h1>
    </div>
    
    <div class="row justify-content-center mt-4">
      <div class="col-4 text-center">
        <img src="/assets/images/door1.png" class="img-fluid" alt="Door 1" >
      </div>
      <div class="col-4 text-center">
        <img src="/assets/images/door2.png" class="img-fluid" alt="Door 2">
      </div>
      <div class="col-4 text-center">
        <img src="/assets/images/door1.png" class="img-fluid" alt="Door 3">
      </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="navigateToSimulation()">START</button>
        </div>
    </div>
  </div>
