<div class="container-fluid bg-overlay">
  <div class="row justify-content-center">
    <h1 class="text-center text-white mt-5">MONTY HALL SIMULATION</h1>
  </div>

  <div class="row justify-content-center mt-4">
    <!-- First Column -->
    <div class="col-10 col-md-4 bg-primary p-4 rounded text-white">
      <form [formGroup]="simulationForm1" (ngSubmit)="startSimulation(true,1)">
        <div class="mb-3">
          <label for="numberOfGames1" class="form-label">Number of goings</label>
          <input id="numberOfGames1" type="number" formControlName="numberOfGames" class="form-control" />
        </div>


        <div class="mb-3">
          <label for="choice1" class="form-label">Switch the door</label>
          <input id="choice1" type="checkbox" formControlName="choice" class="form-check-input ms-2" />
        </div>

        <button type="submit" class="btn btn-dark w-100 text-white" [disabled]="simulationForm1.invalid">PROCEED</button>
      </form>

      <div class="chart-container mt-4">
        <canvas id="myPieChart" class="w-100" style="height: 300px;"></canvas>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-10 col-md-4 bg-success text-white p-4 rounded mt-4 mt-md-0 ms-md-3">
      <form [formGroup]="simulationForm2" (ngSubmit)="startSimulation(false,2)">
        <div class="mb-3">
          <label for="numberOfGames2" class="form-label ">Number of goings</label>
          <input id="numberOfGames2" type="number" formControlName="numberOfGames" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="choice2" class="form-label">Switch the door</label>
          <input id="choice2" type="checkbox" formControlName="choice" class="form-check-input ms-2" />
        </div>

        <button type="submit" class="btn btn-dark w-100 text-white" [disabled]="simulationForm2.invalid">PROCEED</button>
      </form>

      <div class="chart-container mt-4">
        <canvas id="myPieChart2" class="w-100" style="height: 300px;"></canvas>
      </div>
    </div>
  </div>

</div>